body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: url("BG3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

/* ลูกศรซ้าย */
.arrow-left {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 190px;
    cursor: pointer;
    transition: transform 0.3s;
}

.arrow-left:hover {
    transform: translateY(-50%) scale(1.2);
}

/* กล่องข้อมูล */
.info {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 150, 200, 0.5);
    padding: 20px 40px;
    border-radius: 15px;
    color: #083c5a;
    font-size: 20px;
}

/* ฟอนต์ข้อมูล */
.info {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);

    padding: 20px 40px;
    border-radius: 15px;

    font-size: 22px;
    font-weight: bold;
    color: #0b6fa4; /* สีฟ้า */

    text-shadow: 
        2px 2px 0px #ffffff, 
        0px 0px 8px rgba(0,180,255,0.6);

    line-height: 1.8;
}

/* ปุ่ม HOME ให้เข้าธีม */
.home-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 22px;
    background: rgba(173, 216, 230, 0.7);
    color: #0b6fa4;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;

    border: 2px solid #6ec1e4;

    text-shadow: 1px 1px 0 #ffffff;

    transition: 0.3s;
}

.home-btn:hover {
    background: rgba(135, 206, 250, 0.9);
    transform: scale(1.1);
}
